:root {
    --primary: rgb(23, 23, 23);
    --accent: #B08040;
    --accent2: #162316;
}

/* Start global styles */

html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: var(--primary);
    color: var(--accent);
}

input, button {
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--accent);
}

.parent {
	margin: 5em auto;
	width: 100%;
	max-width: 400px;

	padding: 10px 30px;


	background-color: #232323;
	border-radius: 15%;
}

.registration_label {
	margin-right: 10px;
}

.registration_field {
	float: right;

	margin-top: 10px;
	margin-right: 0px;
	margin-left: auto;
}

.registration_element {
	padding: 10px;
}

.submit {
	margin: 5%;
	float: none;
	width: 90%;
	padding: 10px;
}

.captcha {
	float: right;
}

.container {
	object-fit: contain;

}
