:root {
    --primary: rgb(23, 23, 23);
    --accent: #B08040;
}

/* Start global styles */

html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: var(--primary);
    color: white;
}

.parent {
	margin: 5em 30%;
}

.registration_label {
	margin-right: 10px;
}

.registration_element {
	float: right;
	padding: 10px;

	margin-top: 5px;
	margin-right: 0px;
	margin-left: auto;
}

.submit {
	margin: 5%;
	float: none;
	width: 90%;
}

.container {
	object-fit: contain;

}
