<!DOCTYPE html>
<html>
    <head>
        <title>Регистрация</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
	<link rel="stylesheet" type="text/css" href="{{ styles }}">
	<meta charset="UTF-8">
    </head>

    <body>
	<form action="/register/" method="POST" enctype="multipart/form-data">
	    <div class="parent container">
	        <div class="container registration_element">
                    <div class="registration_field">
	                <label class="registration_label" for="user_name">
		            Username
	                </label>
            
			<input id="username" type=text name="username" value="{{ username }}" autofocus="">
                    </div>	
                </div>	
        
	        <div class="container registration_element">
	            <div class="container registration_field">
	                <label class="registration_label" for="password">
		            Password
	                </label>
            
			<input id="password" type=password name="password" value="{{ password }}" autofocus="">
	            </div>
	        </div>
        
            
	        <div class="container registration_element">
	            <div class="container registration_field">
	                <label class="registration_label" for="confirm_password">
		            Re-Type Password
	                </label>
            
			<input id="confirm_password" type=password name="confirm_password" value="{{ confirm_password }}" autofocus="">
	            </div>
	        </div>
    
        
	        <div class="container registration_element captcha">
	            <img src="{{ captcha }}">
	        </div>
    
        
	        <div class="container registration_element">
		    <div class="container registration_field captcha_field">
	                <label class="registration_label" for="captcha_input">
		            Input captcha
		        </label>
                
		        <input id="captcha_input" type=text name="captcha_input" value="" autofocus="">
            
		    </div>
	        </div>
        
        
	        <button class="submit registration_element"> Submit </button>
    
	        <h3 class="status"> {{ message }} </h3>
	    </div>
	</form>
    </body>
</html>
